.experince_kerela{
   color: #036;
}



.image-box{

   height: 300px;
   width: 500px;
}

.slider{

   width: 500px;
   height:500px 
   
}

 .bg-color{

    background-color:rgb(200, 218, 236);
 }
.font-size{

    font-size: 14px;
    font-weight:bold;
}
.kerala-turisom{
   width: 190px;
   height: auto;

}
.navbar-bg{

   background-color:#071982;
}

.search-icon{

   outline-color: white;
}

.find-more-btn{

    background-color: #040c3b;
    height:43px;
}

.service-img{

    width: 100%;
    
}

.service-img-box{
    
    width:320px;

}
.ali{

    left: 10px;
    bottom: 3px;
}
.service-box-heading-color{

    background-color:hsl(60, 93, 11);
    
    width: 300px;
}

.background-image{


    background-image: url('/img/sky.jpg');
    background-repeat: no-repeat;
    
}

.destinnation-btn{

    background-color: #052d5c;
}

.thing-font{

    font-size:xx-large;
    font-weight: bold ;
}
a{
    text-decoration: none;
}


.back-ground-color{
    background-color:#D3D3D3;
}

.card-width{

    width: 15rem;
}

.cusine{

    height:482px;
}



@media (max-width:600px){
        
    #img-height{

        height: 300px;
    }
    #explore{

        width: 274px;
        height: 55px;
    }

    .service-img-box{

        width: 100%;
    }
    .img-width{
        width: 100%;
    }

    .slider{

        width: 600px;
        height:600px 
        
     }

}
